* {
    overflow-x: hidden;
}

/* <=============== Navbar Starts ==============> */

.hyra {
    color: #0802A3;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.signUpBtn {
    border-radius: 8px;
    border: 1.5px solid #0802A3;
    color: #0802A3;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    background-color: transparent;
    line-height: normal;
}

.signUpBtn:hover {
    background-color: #0802A3;
    color: white;
}

.logInBtn {
    border-radius: 8px;
    border: 1.5px solid #0802A3;
    color: white;
    background: #0802A3;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logInBtn:hover {
    background-color: white;
    color: #0802A3;
}

.nav-link:hover {
    text-decoration: underline;
    transition: 3s !important;
}

/* <=============== Navbar Ends ==============> */



/* <=============== Herosection Starts ==============> */
.heroText {
    color: #121214;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

.smallHero {
    color: #464647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

@media screen and (min-width: 992px) {
    #bigHero {
        padding: 50px 120px !important;
    }

    .smallHero {
        padding-right: 130px !important;
    }
}


/* <=============== Herosection ends ==============> */