@media only screen and (min-width:768px) {
    /* body {
        height: 400vh;
    } */

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: #FFCD4B;
    }

    ::-webkit-scrollbar-thumb {
        background: #0802A3;
    }
}

#homepage {
    overflow-x: hidden;
}

#nav {
    position: fixed;
    top: 0;
    /* bottom: 1000px !important;  */
    width: 100%;
    z-index: 10;
    /* height: 200px; */
}

/* <=============== Navbar Starts ==============> */

.hyra {
    color: #0802A3;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.signUpBtn {
    border-radius: 8px;
    border: 1.5px solid #0802A3;
    color: #0802A3;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    background-color: transparent;
    line-height: normal;
}

.signUpBtn:hover {
    background-color: #0802A3;
    color: white;
}

.logInBtn {
    border-radius: 8px;
    border: 1.5px solid #0802A3;
    color: white;
    background: #0802A3;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logInBtn:hover {
    background-color: white;
    color: #0802A3;
}

.nav-link:hover {
    text-decoration: underline;
    transition: 3s !important;
}

/* <=============== Navbar Ends ==============> */



/* <=============== Herosection Starts ==============> */
.heroText {
    color: #121214;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

.smallHero {
    color: #464647;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}

.heroTextsm {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    padding: 10px;
}

.smallHerosm {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 40px;
}


@media screen and (min-width: 992px) {
    .herohero {
        margin-top: 100px;
    }

    #bigHero {
        padding: 50px 120px !important;
    }

    .smallHero {
        padding-right: 130px !important;
    }
}


/* <=============== Herosection ends ==============> */



/* <=============== Chooseus starts ==============> */


#chUs {
    color: #121214;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* <=============== Chooseus ends ==============> */


/* <=============== Signup starts ==============> */

#signUpDiv {
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.05);
}

#bigSignUp,
#bigSignIn {
    height: 100vh;
    /* border: 2px solid red; */
}

.form-controller {
    display: flex;
    /* width: 393px; */
    height: 50px;
    padding: 5px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #FFCD4B;
}

.form-controller-in {
    display: flex;
    /* width: 393px; */
    height: 50px;
    padding: 5px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #0802A3;
}

@media screen and (max-width: 478px) {
    #bigSignUp {
        background: #FFCD4B;
        padding: 20px 0px 290px 0px;
    }

    #bigSignIn {
        background: #0802A3;
        padding: 64px 0px 292px 0px;
    }

    #bigSignIn,
    #bigSignUp {
        overflow-y: hidden;
    }
}

/* <=============== Signup ends ==============> */

/* <=============== Ourteachings starts ==============> */
/* @media screen and (min-width: 992px) {
    .teach {
        margin-top: 120px;
    }
} */

.teach {
    margin-top: 100px !important;
}


/* <=============== Ourteachings ends ==============> */




/* <=============== Getstarted starts ==============> */

/* <=============== Getstarted ends ==============> */
